
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Front</title>
</head>
<body>
<script>
    window.location.href = "http://nshare.sumxiang.com";
</script>
</body>
</html>
