
@{
    ViewData["Title"] = "用户首页";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-title">
                <div class="input-group" style="max-width:250px;display:inline-table;">
                    <input type="text" id="txt_Keyword" class="form-control input-sm">
                    <span class="input-group-btn">
                        <a id="btn_Search" class="btn btn-white btn-sm"><i class="fa fa-search"></i></a>
                    </span>
                </div>
                <div class="ibox-tools">
                    <div class="btn-group">
                        <a class="btn btn-white btn-sm" onclick="userIndex.create()"><i class="fa fa-plus"></i> 新增</a>
                        <a class="btn btn-white btn-sm" onclick="userIndex.edit()"><i class="fa fa-pencil"></i> 编辑</a>
                        <a class="btn btn-white btn-sm" onclick="userIndex.delete()"><i class="fa fa-trash-o"></i> 删除</a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-white btn-sm" onclick="userIndex.resetPwd()"><i class="fa fa-key"></i> 重置密码</a>
                        <a class="btn btn-white btn-sm" onclick="userIndex.userRole()"><i class="fa fa-user"></i> 用户角色</a>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="jqGrid_wrapper">
                    <table id="gridTable"></table>
                    <div id="gridPager"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var userIndex = function () {
            var _self = this;
            //初始化页面
            _self.InitialPage = function () {
                //resize重设(表格、树形)宽高
                $(window).resize(function (e) {
                    window.setTimeout(function () {
                        $('#gridTable').setGridWidth(($('.jqGrid_wrapper').width()));
                        $("#gridTable").setGridHeight($(window).height() - 208);
                    }, 200);
                    e.stopPropagation();
                });
            }
            
            _self.GetGrid = function () {
                var selectedRowIndex = 0;
                $.jgrid.defaults.styleUI = "Bootstrap";
                var $gridTable = $('#gridTable');
                $gridTable.jqGrid({
                    url: 'GetPageList',
                    datatype: "json",
                    height: $(window).height() - 208,
                    autowidth: true,
                    colModel: [
                        { label: 'id', name: 'id', index: 'id', width: 60, key: true, hidden: true },
                        { label: '登录名', name: 'loginName', index: 'loginName', width: 60 },
                        { label: '真实姓名', name: 'realName', index: 'realName', width: 60 },
                        { label: '邮箱', name: 'email', index: 'email', width: 60 },
                        {
                            label: "是否有效", name: "isDelete", index: "isDelete", width: 50, align: "center",
                            formatter: function (cellvalue, options, rowObject) {
                                var cls = !cellvalue ? "fa-toggle-on" : "fa-toggle-off";
                                return '<i style="cursor:pointer;" onclick="userIndex.updateStatus(\'' + rowObject.id + '\', ' + !cellvalue + ')" class="fa ' + cls + '"></i>';
                            }
                        },
                        {
                            label: '创建时间', name: 'createDateTime', index: 'createDateTime', width: 80,
                            formatter: "date", formatoptions: { srcformat: 'Y-m-d H:i', newformat: 'Y-m-d H:i' }
                        }
                    ],
                    rowNum: 30,
                    rowList: [30, 50, 100],
                    pager: "#gridPager",
                    rownumbers: true,
                    viewrecords: true,
                    onSelectRow: function () {
                        selectedRowIndex = $("#" + this.id).getGridParam('selrow');
                    },
                    gridComplete: function () {
                        $("#" + this.id).setSelection(selectedRowIndex, false);
                    }
                });

                //查询事件
                $("#btn_Search").click(function () {
                    $gridTable.jqGrid('setGridParam', {
                        postData: { keywords: $("#txt_Keyword").val() }, page: 1
                    }).trigger('reloadGrid');
                });
                //查询回车
                $('#txt_Keyword').bind('keypress', function (event) {
                    if (event.keyCode == "13") {
                        $('#btn_Search').trigger("click");
                    }
                });
            }
            
            return {
                init: function () {
                    _self.InitialPage();
                    _self.GetGrid();
                },
                create: function () {
                    dialogOpen({
                        id: 'form',
                        title: '添加用户',
                        width: '450px',
                        height: '324px',
                        url: '/Admin/User/Form',
                        callBack: function (iframe) {
                            iframe.userForm.acceptClick();
                        }
                    });
                },
                edit: function () {
                    var id = $("#gridTable").jqGridRowValue("id");
                    if (id) {
                        dialogOpen({
                            id: 'form',
                            title: '编辑用户',
                            width: '450px',
                            height: '324px',
                            url: '/Admin/User/Form?id=' + id,
                            callBack: function (iframe) {
                                iframe.userForm.acceptClick();
                            }
                        });
                    }
                    else {
                        dialogMsg("请选择需要编辑的用户！", 3);
                        return false;
                    }

                },
                delete: function () {
                    var id = $("#gridTable").jqGridRowValue("id");
                    if (id) {
                        $.RemoveForm({
                            url: "RemoveForm",
                            param: { id: id },
                            success: function (data) {
                                $("#gridTable").trigger("reloadGrid");
                            }
                        });
                    } else {
                        dialogMsg("请选择需要删除的用户！", 3);
                        return false;
                    }
                },
                updateStatus: function (id, status) {
                    if (id) {
                        $.ConfirmAjax({
                            msg: "注：您确定要" + (status ? "【禁用】" : "【启用】") + "账户？",
                            url: "UpdateStatus",
                            param: { id: id, status: status },
                            success: function (data) {
                                $("#gridTable").trigger("reloadGrid");
                            }
                        });
                    }
                },
                resetPwd: function () {
                    var id = $("#gridTable").jqGridRowValue("id");
                    var loginName = $("#gridTable").jqGridRowValue("loginName");
                    var realName = $("#gridTable").jqGridRowValue("realName");
                    if (id) {
                        dialogOpen({
                            id: 'form',
                            title: '重置密码',
                            width: '450px',
                            height: '275px',
                            url: '/Admin/User/ResetForm?id=' + id + '&&loginName=' + escape(loginName) + '&&realName=' + escape(realName),
                            callBack: function (iframe) {
                                iframe.userResetForm.acceptClick();
                            }
                        });
                    } else {
                        dialogMsg("请选择需要重置密码的用户！", 3);
                        return false;
                    }
                },
                userRole: function () {
                    var id = $("#gridTable").jqGridRowValue("id");
                    if (id) {
                            dialogOpen({
                            id:'form',
                            title: '用户角色',
                            width: '450px',
                            height: '300px',
                            url: '@Url.Action("SetUserRoleForm")?userId=' + id,
                            callBack: function (iframe) {
                                iframe.userRoleForm.acceptClick();
                            }
                        });
                    }
                    else {
                        dialogMsg("请选择需要用户！", 3);
                        return false;
                    }
                }
            }
        }();
        userIndex.init();
    </script>
}
