@{
    ViewBag.Title = "没有权限";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}

<link href="~/css/style.min.css" rel="stylesheet" />
<style type="text/css">
    .ibox-title {
        border-width: 0px !important;
    }
    .ibox-content {
        border-width: 1px 0 !important;
    }
</style>
<div class="ibox">
    <div class="ibox-title">
        <h5>没有权限</h5>
    </div>
    <div class="ibox-content">
        您没有页面查看权限！
    </div>
</div>

